
.about__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 2rem;
    align-items: center;
    margin: 120px auto;
    max-width: 800px;
    padding: 50px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(80, 80, 80);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.about__title {
    color:rgba(252,70,107,1);
}

.about__info {
    margin-top: -20px;
    text-align: justify;

}

.skills {
    color: rgba(252,70,107,1);
    margin-bottom: 10px;
}
.skills-skill {
    display: inline-block;
    padding: 10px;
    margin: 0 0 0 20px;
    background: rgba(194, 194, 194, 0.523);
    width: 100px;
    border-radius: 5px;
    text-align: center;
    color: rgba(252,70,107,1);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.skills-skill:hover {
    background: rgba(252,70,107,1);
    color: white;
}

.background__plant2 {
    position: fixed;
    right: 10px;
    z-index: -1;
    top: 140px; /* Default position för mindre skärmar */
}
