.contact__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.contact__title {
   font-family: "Prata", serif;
   color:rgba(252,70,107,1);
   font-size: 2rem;
   text-transform: lowercase;
   letter-spacing: 2px;
   margin-top: 30px;
}

.contact__text {
   font-size: 1rem;
   margin-bottom: 20px;
}

.background__plant3 {
   position: absolute;
   right: 40px;
   z-index: 1;
   top: 180px; /* Default position för mindre skärmar */
}

@media (min-width: 1600px) {
   .background__plant3 {
       top: 270px;
       right: 150px;
       z-index: 1;
   }
}