.contact__container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px;
}

.contact__title {
   font-size: 2rem;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.contact__text {
   font-size: 1rem;
   margin-bottom: 20px;
}

.background__plant3 {
   position: fixed;
   right: 100px;
   z-index: -1;
   top: 270px; /* Default position för mindre skärmar */
}