<<<<<<< Updated upstream
=======

.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 255px;
    width: 100%;
    padding: 20px;
    background-color: rgba(253, 194, 158, 0.671);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.home__image-container {
    position: absolute;
    top: 240px;
    right: 150px;
}

.home__image-container img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 50%;
    z-index: 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.home__title {
    font-family: "Prata", serif;
    font-size: 3.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.home__tagline {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    z-index: 1;
}

.background__plant1 {
    position: absolute;
    left: -5px;
    z-index: 1;
    top: 400px; 
}

/* Dark theme */

.dark .home__container {
    background-color: rgba(75, 56, 56, 0.74);
    color: rgba(252,70,107,1);
}

/* Media querys */


@media (max-width: 1600px) {

    .home__container {
        margin-bottom: 190px;
    }
    .home__image-container {
        top: 200px;
        right: 50px;
    }
    
    .home__title {
        margin-left: -250px;
    }
    .home__tagline {
        margin-left: -200px;
    }
}

@media (min-width: 1601px) {
    .background__plant1 {
        left: 180px;
        top: 350px; 
    }
    
}

>>>>>>> Stashed changes
