.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 140px;
    background-color: rgb(253, 194, 158);
    
}
.nav__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    text-transform: uppercase;
}

a {
    font-family: "Prata", serif;
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.nav__home {
    color: white; /* Vit färg som standard */
    text-decoration: none; /* Avmarkera understrykning */
  }
  
  .nav__home.active {
    color: rgba(252,70,107,1); /* Färg när länken är aktiv */
  }

.dark .nav__container {
  background-color: rgb(75, 56, 56);
}

