.projects__container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.projects__title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "Prata", serif;
   color:rgba(252,70,107,1);
   font-size: 2rem;
   text-transform: lowercase;
   letter-spacing: 2px;
}
.repos a {
    font-size: smaller;
    color: white;
}

.repos {
    gap: 10px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.repo-title {
    color: rgba(252,70,107,1);
}

.projects__wrapper-img {
    width: 50%;
    display: grid;
    grid-template: repeat(2, 250px) / repeat(2, 400px);
    align-items: center;
    justify-content: center;
}

/* Dark theme */

.dark .projects__title {
    color: white;
}

.dark .repo-title {
    color: white;
}

/* Media querys */

@media (max-width: 1600px) {
    .projects__container {
        margin-bottom: -16px;
    }
}